.motoboyContainer {
  flex: 1;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 2rem;
  background-color: var(--color-dark-white);
}

@media (max-width: 768px) {
  .motoboyContainer {
    flex-direction: column;
    overflow-x: hidden;
  }
}
