.header {
  padding: 0.6rem 0.6rem;
  text-align: center;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-blue);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}