.footer {
  background-color: var(--color-white);
  text-align: center;
  padding: 0.7rem;
  font-size: 0.9rem;
  border-top: 1px solid var(--color-light-gray-model-two);
  font-family: var(--font-lato);
}

.footer a {
  color: var(--color-black);
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}