.body {
   font-family: var(--font-inter);
  background-color: var(--color-dark-white);
  color: var(--color-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}