.body {
  font-family: var(--font-inter);
  background: linear-gradient(180deg, #fbfbfd, var(--color-dark-white));
  color: var(--color-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--space-md) var(--space-lg);
}